@using System.Globalization
@model IEnumerable<InmobiliariaLopez.Models.Inmueble>
@{
  ViewData["Title"] = "Lista de Inmuebles";
}
<h1 class="mb-4 text-center" style="font-family: 'Roboto', sans-serif; font-size: 2rem; color: #343a40;">Lista de
  Inmuebles</h1>

<div class="card shadow-lg border-0 rounded-4">
  <div class="card-header bg-gradient text-dark border-0 rounded-4">
    <h5 class="mb-0" style="font-family: 'Roboto', sans-serif; font-size: 1.25rem;">Inmuebles</h5>
  </div>
  <div class="card-body" style="padding: 0.5rem 1rem;">
    <div class="d-flex justify-content-end mb-3">
      <a asp-action="Create" class="btn btn-primary btn-sm">
        <i class="fas fa-plus-circle me-2"></i> Nuevo Inmueble
      </a>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered" style="font-family: 'Roboto', sans-serif;">
        <thead class="bg-primary text-white">
          <tr>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">ID
            </th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              PORTADA</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              DIRECCIÓN</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              USO</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              TIPO</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              AMBIENTES</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              PRECIO</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              ESTADO</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              PROPIETARIO</th>
            <th class="text-center"
              style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var inmueble in Model)
          {
            <tr>
              <td>@inmueble.IdInmueble</td>
              <td>
                @if (ViewBag.Portadas.ContainsKey(inmueble.IdInmueble) &&
                              !string.IsNullOrEmpty(ViewBag.Portadas[inmueble.IdInmueble]))
                {
                  <a href="#" data-bs-toggle="modal" data-bs-target="#portadaModal-@inmueble.IdInmueble">
                    <img src="@ViewBag.Portadas[inmueble.IdInmueble]" alt="Portada"
                      style="max-width: 50px; height: auto; cursor: pointer;">
                  </a>
                  <div class="modal fade" id="portadaModal-@inmueble.IdInmueble" tabindex="-1"
                    aria-labelledby="portadaModalLabel-@inmueble.IdInmueble" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="portadaModalLabel-@inmueble.IdInmueble">Portada del Inmueble ID:
                            @inmueble.IdInmueble</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                          <img id="portada-preview-@inmueble.IdInmueble" src="@ViewBag.Portadas[inmueble.IdInmueble]"
                            alt="Portada Grande" class="img-fluid mb-2">
                          <input type="file" class="form-control" id="nueva-portada-@inmueble.IdInmueble" accept="image/*"
                            style="display: none;">
                          <button id="seleccionar-portada-@inmueble.IdInmueble" type="button"
                            class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Editar Portada
                          </button>
                        </div>
                        <div class="modal-footer justify-content-end">
                          <div class="d-flex gap-2">
                            <button id="confirmar-editar-portada-@inmueble.IdInmueble" type="button"
                              class="btn btn-primary btn-sm" style="display: none;">
                              <i class="fas fa-check"></i>
                            </button>
                            <button id="cancelar-editar-portada-@inmueble.IdInmueble" type="button"
                              class="btn btn-secondary btn-sm" style="display: none;">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
                else
                {
                  <img src="~/img/default_image.png" alt="Sin Portada" style="max-width: 50px; height: auto;">
                }
              </td>
              <td>@inmueble.Direccion</td>
              <td>@inmueble.Uso</td>
              <td>@inmueble.TipoNombre</td>
              <td>@inmueble.Ambientes</td>
              <td class="bold-importe">
                @inmueble.Precio.ToString("C")
                <i class="fas fa-money-bill-wave-alt ms-2"></i>
              </td>
              <td>@inmueble.Estado</td>
              <td>@($"{inmueble.PropietarioApellido}, {inmueble.PropietarioNombre}")</td>
              <td class="text-center">
                <a asp-action="Details" asp-route-id="@inmueble.IdInmueble" class="btn-link" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="Ver detalles del inmueble">
                  <i class="fas fa-eye"></i>
                </a>
                <a asp-action="Edit" asp-route-id="@inmueble.IdInmueble" class="btn-link" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="Editar inmueble">
                  <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@inmueble.IdInmueble" class="btn-link" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="Eliminar inmueble">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        @if (ViewBag.PaginaActual > 1)
        {
          <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-pagina="@(ViewBag.PaginaActual - 1)">Anterior</a>
          </li>
        }
        else
        {
          <li class="page-item disabled">
            <span class="page-link">Anterior</span>
          </li>
        }

        @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
        {
          <li class="page-item @(ViewBag.PaginaActual == i ? "active" : "")">
            <a class="page-link" asp-action="Index" asp-route-pagina="@i">@i</a>
          </li>
        }

        @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
        {
          <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-pagina="@(ViewBag.PaginaActual + 1)">Siguiente</a>
          </li>
        }
        else
        {
          <li class="page-item disabled">
            <span class="page-link">Siguiente</span>
          </li>
        }
      </ul>
    </nav>
  </div>
</div>
@section Scripts {
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $(document).ready(function () {
      // Activar tooltips de Bootstrap
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      tooltipTriggerList.forEach(function (tooltipTriggerEl) {
        new bootstrap.Tooltip(tooltipTriggerEl);
      });

      $('[id^="seleccionar-portada-"]').on('click', function () {
        const idInmueble = $(this).attr('id').split('-')[2];
        $('#nueva-portada-' + idInmueble).trigger('click'); // Simula un clic en el input file oculto
      });

      $('[id^="nueva-portada-"]').on('change', function () {
        const idInmueble = $(this).attr('id').split('-')[2];
        const previewImage = $('#portada-preview-' + idInmueble)[0];
        const fileInput = $(this)[0];

        if (fileInput.files && fileInput.files[0]) {
          const reader = new FileReader();

          reader.onload = function (e) {
            $(previewImage).attr('src', e.target.result);
            $('#confirmar-editar-portada-' + idInmueble).show();
            $('#cancelar-editar-portada-' + idInmueble).show();
            $('#seleccionar-portada-' + idInmueble).hide();
          }

          reader.readAsDataURL(fileInput.files[0]);
        } else {
          // Si se cancela la selección, volver al estado original
          const portadaActualSrc = $('#portada-preview-' + idInmueble).attr('src');
          $(previewImage).attr('src', portadaActualSrc);
          $('#confirmar-editar-portada-' + idInmueble).hide();
          $('#cancelar-editar-portada-' + idInmueble).hide();
          $('#seleccionar-portada-' + idInmueble).show();
        }
      });

      $('[id^="cancelar-editar-portada-"]').on('click', function () {
        const idInmueble = $(this).attr('id').split('-')[3];
        const previewImage = $('#portada-preview-' + idInmueble)[0];
        const portadaActualSrc = $(previewImage).attr('src');
        $(previewImage).attr('src', portadaActualSrc);
        $('#confirmar-editar-portada-' + idInmueble).hide();
        $('#cancelar-editar-portada-' + idInmueble).hide();
        $('#seleccionar-portada-' + idInmueble).show();
        $('#nueva-portada-' + idInmueble).val(''); // Limpiar la selección de archivo
      });

      $('[id^="confirmar-editar-portada-"]').on('click', function () {
        const idInmueble = $(this).attr('id').split('-')[3];
        const fileInput = $('#nueva-portada-' + idInmueble)[0];

        if (fileInput.files && fileInput.files[0]) {
          Swal.fire({
            title: '¿Reemplazar la portada?',
            text: "Esta acción reemplazará la portada actual del inmueble.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33', // Reemplaza con tu color de Details
            cancelButtonColor: '#6c757d', // Reemplaza con tu color de Details
            confirmButtonText: 'Sí, reemplazar',
            cancelButtonText: 'Cancelar'
          }).then((result) => {
            if (result.isConfirmed) {
              const formData = new FormData();
              formData.append('idInmueble', idInmueble);
              formData.append('archivo', fileInput.files[0]);
              formData.append('nuevaPortada', true);
              formData.append('esReemplazoPortada', true);
              const antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();
              if (antiForgeryToken) {
                formData.append('__RequestVerificationToken', antiForgeryToken);
              }

              $.ajax({
                url: '@Url.Action("GuardarImagen", "Inmuebles")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                  Swal.fire(
                    '¡Reemplazado!',
                    'La portada ha sido reemplazada correctamente.',
                    'success'
                  ).then(() => {
                    window.location.reload(); // Recargar la página para ver los cambios
                  });
                },
                error: function (error) {
                  Swal.fire(
                    '¡Error!',
                    'Hubo un problema al reemplazar la portada.',
                    'error'
                  );
                  console.error(error);
                }
              });
            }
          });
        } else {
          Swal.fire(
            '¡Atención!',
            'Por favor, selecciona una nueva imagen para la portada.',
            'warning'
          );
        }
      });
    });
  </script>
  @Html.AntiForgeryToken()
}