@model IEnumerable<InmobiliariaLopez.Models.Propietario>

@{
  ViewData["Title"] = "Lista de Propietarios";
}

<h1 class="mb-4 text-center" style="font-family: 'Roboto', sans-serif; font-size: 2rem; color: #343a40;">Lista de
  Propietarios</h1>

@if (TempData["ErrorMessage"] != null)
{
  <div class="alert alert-danger">
    @TempData["ErrorMessage"]
  </div>
}

<div class="card shadow-lg border-0 rounded-4">
  <div class="card-header bg-gradient text-dark border-0">
    <h5 class="mb-0">Propietarios</h5>
  </div>
  <div class="card-body">
    <!-- Filtros de Búsqueda y Botón de Nuevo Propietario -->
    <div class="d-flex justify-content-between mb-4">
      <!-- Filtros de búsqueda -->
      <form asp-action="Index" method="get" class="w-75">
        <div class="row g-3">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-id-card"></i></span>
              <input type="text" name="dni" value="@ViewBag.FiltroDni" class="form-control"
                placeholder="Buscar por DNI" />
            </div>
          </div>

          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input type="text" name="apellido" value="@ViewBag.FiltroApellido" class="form-control"
                placeholder="Buscar por Apellido" />
            </div>
          </div>

          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
              <input type="text" name="nombre" value="@ViewBag.FiltroNombre" class="form-control"
                placeholder="Buscar por Nombre" />
            </div>
          </div>

          <!-- Contenedor d-flex para los botones de búsqueda y limpiar -->
          <div class="col-md-3 d-flex">
            <!-- Botón de búsqueda -->
            <button type="submit" class="btn btn-success btn-sm d-flex align-items-center justify-content-center"
              style="width: 40px; height: 40px; border-radius: 50%;">
              <i class="fas fa-search"></i>
            </button>

            <!-- Botón Limpiar Filtros (Solo visible si se aplicaron filtros) -->
            @if (!string.IsNullOrEmpty(ViewBag.FiltroDni) || !string.IsNullOrEmpty(ViewBag.FiltroApellido) ||
                        !string.IsNullOrEmpty(ViewBag.FiltroNombre))
            {
              <a href="@Url.Action("Index", "Propietarios")"
                class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center"
                style="width: 40px; height: 40px; border-radius: 50%; margin-left: 10px;" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Limpiar Filtros">
                <i class="fas fa-broom"></i>
              </a>
            }
          </div>

        </div>
      </form>

      <!-- Botón de Nuevo Propietario -->
      <a asp-action="Create" class="btn btn-primary btn-sm d-flex align-items-center" style="height: 38px;">
        <i class="fas fa-plus-circle me-2"></i> Nuevo Propietario
      </a>

    </div>

    <!-- Mostrar mensaje cuando no se encuentren resultados -->
    @if (!Model.Any())
    {
      <div class="alert alert-info" role="alert">
        <i class="fas fa-info-circle me-2"></i> No se encontraron resultados para los filtros aplicados.
      </div>
    }

    <!-- Tabla de resultados -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">ID
            </th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              DNI</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              APELLIDO</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              NOMBRE</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              TELÉFONO</th>
            <th style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              EMAIL</th>
            <th class="text-center"
              style="font-family: 'Poppins', sans-serif; font-size: 1rem; font-weight: 600; letter-spacing: 0.5px;">
              ACCIONES
            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var propietario in Model)
          {
            <tr>
              <td>@propietario.IdPropietario</td>
              <td>@propietario.DNI</td>
              <td>@propietario.Apellido</td>
              <td>@propietario.Nombre</td>
              <td>@propietario.Telefono</td>
              <td>@propietario.Email</td>
              <td class="text-center">
                <a asp-action="Details" asp-route-id="@propietario.IdPropietario" class="btn-link"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles del propietario">
                  <i class="fas fa-eye"></i>
                </a>
                <a asp-action="Edit" asp-route-id="@propietario.IdPropietario" class="btn-link" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="Editar propietario">
                  <i class="fas fa-edit"></i>
                </a>
                @if (User.IsInRole("Administrador"))
                {
                  <a asp-action="Delete" asp-route-id="@propietario.IdPropietario" class="btn-link" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Eliminar propietario">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                }

              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        @if (ViewBag.PaginaActual > 1)
        {
          <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-pagina="@(ViewBag.PaginaActual - 1)">Anterior</a>
          </li>
        }
        else
        {
          <li class="page-item disabled">
            <span class="page-link">Anterior</span>
          </li>
        }

        @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
        {
          <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
            <a class="page-link" asp-action="Index" asp-route-pagina="@i">@i</a>
          </li>
        }

        @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
        {
          <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-pagina="@(ViewBag.PaginaActual + 1)">Siguiente</a>
          </li>
        }
        else
        {
          <li class="page-item disabled">
            <span class="page-link">Siguiente</span>
          </li>
        }
      </ul>
    </nav>
  </div>
</div>

@section Scripts {
  <script>
    // Activar tooltips de Bootstrap
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script>
}
